.team {
  background-color: #f5f4fa;
  margin-top: 120px;
  padding-bottom: 94px;

  &__title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top: 94px;
    padding-bottom: 50px;
  }
}
.card {
  display: flex;

  &__list {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
  }

  &__images {
    display: block;
    max-width: 100%;
    height: auto;
    width: auto;
  }
}
.team__name {
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.team__text {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}
